<!DOCTYPE html>

<html>
    <head>
        <style>
            body{background-color:rgb(239, 233, 255); text-align:center}
        </style>
    </head>

    <body>
        <h1>Voyager Crew Task List</h1>
        <form action="#" method="post">
            {% for task in task_list %}
                <div>
                    <input type="checkbox" name=task value={{task}}/>
                    <label for="task">{{task}}</label>
                </div>
            {% endfor %}
            <input type="submit" value="submit"/>
        </form>

    </body>

</html>